.popup__form{
  width: 430px;
  height: 330px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 320px) {
  .popup__form{
    width: 282px;
    height: 322px;
  }
}