.profile__name{
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 268px;
}

@media screen and (max-width: 650px) {
  .profile__name{
    font-weight: 500;
    font-size: 27px;
    line-height: 1.21;
    text-align: center;
  }
}