.profile__add-button-container{
  width: 146px;
  height: 46px;
  border: 2px solid #fff;
  display: flex;
  align-self: center;
  margin-left: auto;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.profile__add-button-container:hover{
  opacity: 0.6;
}

@media screen and (max-width: 650px) {
  .profile__add-button-container{
    margin: 0;
    margin-top: 33px;
    width: 278px;
  }
}